body {
	margin: 0;
	padding: 0;
	min-width: 1200px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: #000000;
}
a {
	text-decoration: none;
}
.main-header {
	line-height: 1.875;
	font-weight: 700;
	color: #000000;
	
	background-color: #eeeeee;
}
.site-navigation,
.user-navigation {
	list-style: none;
	text-transform: uppercase;
}
.site-navigation a,
.user-navigation a{
	color: #000000;
}
/*состояния для навигации*/
.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
	color: #fb565a;
}
.site-navigation a[href]:active, 
.user-navigation a[href]:active {
	color: rgba(0, 0, 0, 0.3);
}
.site-navigation a {
	position: relative;
  	display: inline-block;
  	outline: none;
}
/*декоративный элемент для активного раздела*/
.active a::after {
	position: absolute;
  	top: 110%;
  	left: 0;
  	width: 100%;
  	height: 2px;
  	background-color: #fb565a;
  	content: "";
  	transition: opacity 0.3s, transform 0.3s;
}
.catalog-item {
	text-align: left;
}
.catalog-item h3 {
	font-size: 24px;
	line-height: 1.25;
	text-transform: uppercase;
}
.button {
	display: block;
  	width: 240px;
  	padding: 13px 0;

  	font-size: 16px;
  	line-height: 18px;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-align: center;
  	text-decoration: none;
  	font-weight: 400;

  	background-color: #fb565a;
  	border-radius: 3px;
  	border: none;
  	color: #ffffff;	
}
.button:hover,
.button:focus {
	background-color: #e74246;
}
.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0	3px 0 rgba(0, 0, 0, 0.1) inset;
}
.catalog-button-second {
	background-color: #00ca74;
}
.catalog-button-second:hover,
.catalog-button-second:focus {
	background-color: #00bc6c;
}
.catalog-button-second:active {
	background-color: #00aa62; 
	color: rgba(255, 255, 255, 0.3);
}
.catalog-button-third {
	background-color: #efc84a;
}
.catalog-button-third:hover,
.catalog-button-third:focus {
	background-color: #eab534;
}
.catalog-button-third:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}
.filters-button {
	background-color: #eeeeee;
	color: #000000;
}
.filters-button:hover,
.filters-button:focus {
	background-color: #dfdfdf;
}
.filters-button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}
/* === блок modal === */
.modal input,
.modal textarea {
	font: inherit;
	background-color: transparent;
	border: 2px solid #d7dcde;
}
.modal input:hover,
.modal textarea:hover { 
	border-color: #b4b9bb;
}
.modal input:focus,
.modal textarea:focus {
	border-color: #000000;
	outline: none;	
}
.modal input:invalid,
.modal textarea:invalid {
	border-color: #e74246;
	color: #e74246;
}
.main-footer {
	color: #444444;
	background-color: #ffffff;
}

.footer-sale b {
	font-size: 36px;
	line-height: 1;
	color: #000000;
}




.filters h3 {
	font-size: 18px;
	line-height: 1.6;
	text-transform: uppercase;
	color: #000000;
}
.filters li {
	font-size: 16px;
	line-height: 1.25;
	list-style: none;
	color: #283136;
}
.catalog-product {
	padding-top: 50px;
	padding-bottom: 50px;
}
.catalog-product-item {
	text-align: left;
	position: relative;
	padding: 0;
	margin: 0;
}

.catalog-product-item{
	padding: 0;
	margin: 0;
	border: 0;
}
.catalog-product-info {
	position: absolute;
	box-sizing: border-box;
	width: 100%;

	bottom: 7px;
	background-color: #eeeeee;

	z-index: 1;
	margin: 0;
	padding: 0;
}
.catalog-product-image {
	display: block;
	z-index: 2;
}
.catalog-product-image::before {
	content: "";
	display: block;
	height: 40px;
	background-color: #e9e9e9;
	border-radius: 5px 5px 0 0;
}
.catalog-product-image::after {
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #ffffff;
	border-radius: 50%;
	top: 13px;
	left: 16px;
	box-shadow: 25px 0 0 0 #ffffff,
				50px 0 0 0 #ffffff;
}
.catalog-product-item:hover .catalog-product-info {
	display: block;
}
.catalog-product-item:hover .catalog-product-image::before {
	background-color: #4d4d4d;
}

.pagination-list {
	display: flex;
}
.pagination-list li{
	list-style: none;
}

.pagination-button a {
	font: inherit;
	color: #000000;
	background-color: #eeeeee;
	padding: 15px 20px;
	margin-right: 10px;
}
.pagination-button a:hover,
.pagination-button a:focus {
	background-color: #dfdfdf;
}
.pagination-button a:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}
.pagination-active a {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	padding: 12px 17px;
	margin-right: 10px;
}
.visually-hidden {
	position: absolute;
  	width: 1px;
  	height: 1px;
  	clip: rect(0, 0, 0, 0);
}
/*сетка*/
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.main-navigation-logo {
	height: 65px;
	width: 160px;
}
.main-navigation {
	display: flex;
	flex-direction: row;
	padding: 0;
	justify-content: space-between;
	padding-bottom: 30px;
	padding-top: 30px;
}
.site-navigation {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 640px;	
	flex-wrap: wrap;
}
.site-navigation li {
	padding-right: 48px;
}
.site-navigation li:last-child {
	padding-right: 0;
}
.user-navigation {
	display: flex;
	width: 160px;
	padding: 0;
	margin: 0 auto;
	justify-content: center;
	align-items: center;	
	flex-wrap: wrap;
}
.catalog-services {
	padding-top: 80px;
	padding-bottom: 80px;	
}
.catalog-list {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: left;
	flex-wrap: wrap;
}
.catalog-item {
	width: 300px;
	margin-right: 80px;
}
.catalog-list li:last-child {
	margin-right: 0;
}
.modal .container{
	display: flex;
	flex-direction: column;
	padding: 0;
	width: 760px;
	padding-top: 73px;
	padding-right: 100px;
	padding-bottom: 85px;
	padding-left: 100px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}
.modal h2 {
	margin: 0;
	font-size: 45px;
	color: #000000;
	line-height: 45px;
}
.modal form {
	display: flex;
	flex-direction: column;
}
.main-footer {
	display: flex;
}
/*социальные кнопки*/
.footer-social li {
	list-style: none;
}
.footer-social {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 270px;
	margin-right: 20px;
}
.social-button {
	display: flex;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	align-items: center;
  	justify-content: center;
	border-radius: 50%;
}
.footer-sale {
	width: 760px;
	vertical-align: center;
	padding-top: 75px;
	padding-bottom: 75px;	
}
.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}
.social-button:active {
	background-color: rgba(215, 55, 59);
	box-shadow: inset 0	3px 0 rgba(0, 0, 0, 0.1) inset;
}
.social-button:active svg {
	color: #e37376;
}

.intro {
	display: flex;
	justify-content: center;
}
/*каталог сетка*/
.catalog-columns {
	display: flex;
	justify-content: space-between;
}
.filters {
	width: 260px;
}
.catalog-product {
	width: 760px;
}
.catalog-product-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.catalog-product-item {
	width: 360px;
	margin-bottom: 35px;
	margin-right: 40px;
}
.catalog-product-item:nth-child(2n) {
  margin-right: 0;
}
.pagination-list {
	padding: 0;
	margin: 0;

	list-style: none;
}
/*слайды*/
.main-intro {
  	position: relative;

  	background-color: #eeeeee;
}
.intro-controls {
  	position: absolute;
  	left: 50%;
  	bottom: 104px;
  	z-index: 100;
  
  	width: 160px;
  	height: 18px;

  	text-align: center;
  	font-size: 0;
  	transform: translateX(-50%);
}
.intro-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}
.intro-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.intro-list {
  	margin: 0;
  	padding: 0;
  
  	list-style: none;
}
.intro-item {
  	display: none;
  	padding: 78px 0 80px 0;
}
.intro-item:nth-child(1) {
	background-image: url("../img/slide1.png");
  	background-repeat: no-repeat;
  	background-position: 93% 18px;
}
.intro-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.intro-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .intro-list .intro-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .intro-list .intro-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .intro-list .intro-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .intro-controls .intro-controls-item--1::before,
#product-2:checked ~ .intro-controls .intro-controls-item--2::before,
#product-3:checked ~ .intro-controls .intro-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.intro-item h3 {
	max-width: 600px;
  	margin: 0;
  	margin-bottom: 27px;

  	font-size: 55px;
  	line-height: 1;
  	font-weight: 500;
}
.intro-item p {
	font-weight: 400;
  	max-width: 430px;
  	margin: 0;
  	margin-bottom: 38px;
}
.about-container {
	display: flex;
	justify-content: space-between;
}
.about-company-description {
	width: 660px;
}
.about-company-innumbers {
	width: 360px;
}
.customers-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}
.map {
	min-height: 418px;
	margin: 0 auto;
	padding: 0 0;
	box-sizing: border-box;
	background-color: #eeeeee;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-position: top center;
}
.map .container {
	position: relative;
}
.contacts {
	position: absolute;
	background-color: #ffffff;
	top: 54px;
	padding: 30px 50px 40px 50px;	
}
.map-marker {
	position: absolute;
	top: 85px;
	left: 700px;
}

